#circle {
	width: 250px;
  	height: 250px;
  	border-radius: 50%;
  	font-size: 50px;
 	color: #fff;
  	line-height: 250px;
  	text-align: center;
  	background: #000
}

.coin {
	font-size: 20px;
	text-align: center;
	width: 100px;
	
}

.center {
	text-align: center;
	margin: 10px;
    width: 450px;
    padding: 20px;
    font-size: 20px;
}

.center2 {
	text-align: center;
	margin: 10px;
    width: 494px;
    padding: 20px;
    font-size: 20px;
}

.circleDiv {
	display:inline-block;
}

.big-circle {
	font-size: 50px;
	line-height: 190px;
	width: 200px;
	height: 200px;
	background: #ceccc0;
	border-radius: 50%;
	position: relative;
	/* For presentation */
	margin-left: 30px;
	margin-top: 30px;
	text-align: center;
	display: inline-block;
}

.small-circle {
	line-height: 65px;
	font-size: 20px;
	color: white;
	background: #161613 none repeat scroll 0 0;
	border: 2px solid white;
	border-radius: 50%;
	height: 33%;
	left: +75%;
	position: absolute;
	top: -5%;
	width: 33%;
	text-align: center;
	display: none;
}

.mainDiv {
	width: 510px;
	margin: 0 auto;
}